@use 'variables' as var;

.categories {

    .healthCtn,
    .sportsCtn,
    .travelCtn,
    .businessCtn,
    .worldCtn {
        // position: relative;
        height: 50px;
        display: flex;
        align-items: center;
        gap: 1em;
        width: 100%;
        border-bottom: solid 2px var(--secondaryTextColor);

        &__img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            box-shadow: 0px 3px 5px var(--primaryTextColor);
            color: var(--iconColor);
            margin-left: 1.5em;
        }

        &__heading {
            color: var(--primaryTextColor);
            font-size: 15px;
            text-transform: uppercase;
        }

        &__arrow {
            color: var(--primaryTextColor);
            margin-right: 1.5em;
            cursor: pointer;
            position: absolute;
            right: 0;
        }

        &__fetch {
            display: flex;
            gap: 1em;
            justify-content: center;
            align-items: center;
            border-bottom: solid 2px var(--secondaryTextColor);
            height: 125px;
            padding: 0.5em 0;
        }

        &__apiImg {
            border-radius: 50%;
            width: 75px;
            height: 75px;
        }

        &__apiLink {
            text-decoration: none;
        }

        &__apiHeading {
            color: var.$drab;
            font-size: 1em;
            margin-bottom: 0.10em;
        }

        &__apiAbstract {
            font-size: 0.75em;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 300px;
            color: var(--primaryInteractive);
        }
    }
}