@use 'variables' as var;

.categories {

    .healthCtn,
    .foodCtn,
    .travelCtn,
    .businessCtn,
    .worldCtn {
        // position: relative;
        height: 50px;
        display: flex;
        align-items: center;
        gap: 1em;
        width: 100%;
        border-bottom: solid 2px var(--primaryAccent);

        &__img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            box-shadow: 0px 3px 5px var(--primaryAccent);
            background-color: var(--primaryAccent);
            color: var(--iconColor);
            margin-left: 1.5em;
        }

        &__heading {
            color: var(--primaryTextColor);
            font-size: 15px;
            text-transform: uppercase;
        }

        &__arrow {
            color: var(--primaryTextColor);
            margin-right: 1.5em;
            cursor: pointer;
            position: absolute;
            right: 0;
        }

        &__fetch {
            border-bottom: solid 2px var(--primaryBackgroundColor);
            display: flex;
        }

        &__apiImg {
            border-radius: 50%;
            width: 70px;
            height: 70px;
        }

        &__apiLink {
            text-decoration: none;
        }

        &__apiHeading {
            color: var(--primaryTextColor);
            font-size: 1em;
            margin-bottom: 0.10em;
        }

        &__apiAbstract {
            font-size: 0.55em;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 300px;
            color: var(--secondaryTextColor);
        }
    }
}

.swipe__ctn {
    background-color: var(--primaryInteractive);
    height: 124px;
    border: none;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    width: 125px;
    right: 0;
    z-index: 5;
    font-size: 2em;
    color: var(--primaryBackgroundColor);
    margin-top: 0.25px;
}

.article__container {
    display: flex;
    width: 100%;
    height: 125px;
    z-index: 10;
    align-items: center;
    justify-content: center;
    gap: 1em;
    background-color: var(--secondaryBackgroundColor);
    padding: 0 0.5em;
}

@keyframes moveLeft {
    0% {
        transform: translateX(0%);

    }

    100% {
        transform: translateX(-125px);
    }
}