@use 'variables' as var;


.settings__darkmode {
    margin: 0 auto;
    padding: 1em .75em;
    border-radius: 2em;
    background-color: var(--primaryBackgroundColor);
    border: solid 0.5px var(--secondaryTextColor);
    color: var(--primaryTextColor);
    font-weight: light;
    text-transform: uppercase;
    cursor: pointer;
}