@use "variables" as var;

.searchField {
    position: relative;
    border-bottom: solid 2px var(--secondaryTextColor);
    display: flex;
    justify-content: center;

    &__input {
        background-color: var(--secondaryBackgroundColor);
        width: 100%;
        height: 100%;
        display: block;
        border: none;
        padding: 1em;
        margin: 1em 1.5em;
    }

    &__button {
        position: absolute;
        border: none;
        place-self: center;
        right: 8%;
        background-color: var(--secondaryBackgroundColor);
        color: var(--secondaryTextColor);
        cursor: pointer;
    }

    ::placeholder {
        color: var(--secondaryTextColor);
    }
}