@use 'variables' as var;

body {
    --primaryTextColor: #{var.$drab};
    --secondaryTextColor: #{var.$slate};
    --primaryInteractive: #{var.$sage};
    --iconColor: #{var.$rust};
    --deleteItem: #{var.$danger};
    --primaryBackgroundColor: #{var.$snow};
    --secondaryBackgroundColor: #{var.$ice};
    --primaryAccent: #{var.$ice};

}

body.darkmode {
    --primaryTextColor: #{var.$ice};
    --secondaryTextColor: #{var.$fossil};
    --primaryInteractive: #{var.$sage};
    --iconColor: #{var.$rust};
    --deleteItem: #{var.$danger};
    --primaryBackgroundColor: #{var.$drab};
    --secondaryBackgroundColor: #{var.$slate};
    --primaryAccent: #{var.$slate};
}

body {
    background-color: var(--primaryBackgroundColor);
}