@use 'variables' as var;

body {
    --backgroundColor: #{var.$ice};
    // --settings: #{var.$ice};
    --backgroundContainer: #{var.$white};
    --primaryText: #{var.$ice};
    --buttonBackground: #{var.$slate};
    --switchBackgroundOff: #{var.$onyx};
    --switchBackgroundOn: #{var.$ice};

}

body.darkmode {
    --backgroundColor: #{var.$drab};
    --backgroundContainer: #{var.$slate};
    --primaryText: #{var.$ice};
    --buttonBackground: #{var.$slate};
    --switchBackgroundOff: #{var.$onyx};
    --switchBackgroundOn: #{var.$ice};
}

body {
    background-color: var(--backgroundColor);
}