// Primary Fonts
$primaryHeading: 'Nevis' 40px bold;
$secondaryHeading: 'Nevis' 32px bold;
$cardTitle: 'Nevis' 20px bold;

// Colors 
$InteractiveHeadings: #324755;
$borderColor: #C8D1D3;
$headingIMG: #D97D54;